apo/venv/
.env
__pycache__/
models/
eval.py
test/
faiss_index.bin
database.pkl
count.py

scielo/wmt*/

retrieval-venv/
test/
computed_indices/
experiments/
experiment_results/
retrieval_translation/data/
retrieval_translation/indices_cache/
*.log

retrieval_translation/analysis_output

WMT'24/goldsets
WMT'24/testsets