apo/venv/
.env
__pycache__/
models/
eval.py
test/
faiss_index.bin
database.pkl
count.py

wmt*/

exp_env/
test/
computed_indices/
experiments/
experiment_results/
retrieval_translation/data/
retrieval_translation/indices_cache/
*.log